
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
}
section:nth-child(odd) {
    background: rgba(1, 8, 18, 0.96);
  }
section:nth-child(even) {
    background: rgba(226, 226, 226, 0.96);
  }

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
a{
    text-decoration: none;
    
}


.nav-link:hover{
    background-color: #7F150B;
    color: white;
    font-weight: 600;
}
.navbar{
    background-color: rgb(253, 253, 253);
    position: fixed;
    top:0;
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.navbar a{
  display: block;
  color: #C02011;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
}
.navbar ul{
    display: inline-flex;
    justify-content: space-between;
    float: left;
    width: 50%;
}

.navbar .logo{
    float: left;
    margin-top: 2px;
    width: 50%;
}
.navbar li a{
    padding: 20px;
}

.nav img{
    height: 60px;
    width: 60px;
    padding-left: 10%;
}

.wrapper{
    padding: 10% 10% 0 10%;
    margin-top: 10%;
}
.wrapper-contact form {
    color: #E5E5E5;
}
.wrapper-contact label,input,textarea,button{
    width: 500px;
    line-height: 30px;
}
.wrapper-contact {
    display: flex;
    justify-content: center;
}

.view{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}
.view a{
    color: #E5E5E5;
}
.wrapper h1{
    font-size: 40px;
    text-align: center;
    color: white;
}
.wrapper h1 span{
    font-size: 45px;
    color:#C02011;
}

.view a{
    border: 1px solid #E5E5E5;
    padding: 10px;
    border-radius: 10px;
    
}
.about1{
    padding-top: 10%;
}
.about1 h1{

    text-align: center; 
    padding: 20px; 
    font-size: 30px; 
    color: white;
}

.about1 .col-4  {
    margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  line-height: 40px;
}
.about1 .col-4 img{
    height: 200px;
    width: 200px;
}
.about1 .col-4 h5{
    font-size: 20px;
}
.about2{
    padding-top: 10%;
}
.about2 .col-4 {
    /* padding: 20px; */
    text-align: center;
  }
  .about2 .aboutme{
      background-color: white;
      color: black;
      height: auto;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
  }
  .about2 .col-8 img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
     
  }
  .blog {
    padding: 20px;
    /* text-align: justify; */
    line-height: 22px;
    ;
  }
  .blog{
    padding-top: 10%;
}
  .blog h1{ 
    text-align: center; 
    padding-bottom: 20px; 
    font-size: 30px; 
    color: white;
    text-transform: uppercase;
  }
  .blog img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
  .blog .card{
    background-color: white;
  }
  .blog .card-body h5{
    font-size: 17px;
    color: #C02011;
    font-weight: bold;
}
.blog .date{
    color:gray;
    border-bottom: 3px solid #C02011;
    width: 80px;
    margin-left: 20px;
}
.blog .card-footer{
    background-color: rgba(93, 93, 228, 0.486);
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.blog .card-footer a{
    color: black;
    text-decoration: none;
    border: 1px solid azure;
    padding: 5px;
    border-radius: 5px;
    background-color:azure;
}
.blog .card-footer a:hover{
    background-color: #C02011;
    border: 1px solid #C02011;
    color: white;
    font-weight: 400;
}
.footer{
    left: 0;
    bottom: 0;
    background-color: rgb(231, 230, 230);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 10vh;
}
.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.footer li a{
    padding: 20px;
    color: #C02011;
}
.footer img{
    height: 20px;
    width: 20px;
}

li {
 list-style: none;
}
.login-page {
    width: 360px;
    padding: 3% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1171c0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form a{
      color: white;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #8a160c;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #C02011;
    text-decoration: none;
  }
  .navbar #username, #dropdown{
      display: none;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
 
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
 
  }
  @media screen and (max-width:800px) {
    section{
        height: auto;
    }
  .container{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:100%;
  }
  .navbar .logo{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .navbar ul{width: 100%;
  background-color: rgb(255, 255, 255);
  }
   .navbar li img{
       display: none;
   }
   .wrapper{
       margin-top: 40%;
       padding-bottom: 200px;
   }
   .wrapper h1{
      font-size: 30px;
      text-align: center;
      color: white;
  }
  .wrapper h1 span{
      font-size: 35px;
      color:#C02011;
  }
  .about1{
      padding-top: 30%;
  }
  .about1 .col-4 img{
      height: 150px;
      width: 150px;
  }

  
  .about2{
    padding-top: 30%;
}
.blog{
    padding-top: 30%;
}
  
  
}
  