*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
    
}
section{
    height: 100vh;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
a{
    text-decoration: none;
    
}


.nav-link:hover{
    background-color: #7F150B;
    color: white;
    font-weight: 600;
}
.navbar{
    background-color: rgb(253, 253, 253);
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
}
.navbar a{
  display: block;
  color: #C02011;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    float: right;
}
.navbar img{
    
    margin-top: 2px;
}
.navbar li a{
    padding: 20px;
}

.nav img{
    height: 60px;
    width: 60px;
    padding-left: 10%;
}
.main{
    margin-top: 10%;
}
.wrapper{
    padding: 10% 10% 0 10%;
}
.wrapper-contact form {
    color: #E5E5E5;
}
.wrapper-contact label,input,textarea,button{
    width: 500px;
    line-height: 30px;
}
.wrapper-contact {
    display: flex;
    justify-content: center;
}

.view{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}
.view a{
    color: #E5E5E5;
}
.wrapper h1{
    font-size: 40px;
    text-align: center;
    color: white;
}
.wrapper h1 span{
    font-size: 45px;
    color:#C02011;
}

.view a{
    border: 1px solid #E5E5E5;
    padding: 10px;
    border-radius: 10px;
    
}
.footer{
    left: 0;
    bottom: 0;
    background-color: rgb(231, 230, 230);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 10vh;
}
.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.footer li a{
    padding: 20px;
    color: #C02011;
}
.footer img{
    height: 20px;
    width: 20px;
}

li {
 list-style: none;
}
.login-page {
    width: 360px;
    padding: 3% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1171c0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form a{
      color: white;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #8a160c;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #C02011;
    text-decoration: none;
  }
  .navbar #username, #dropdown{
      display: none;
  }
  
  